.form-group {
  .input__field:not(:last-child),
  .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input__field:not(:last-child) {
    border-right: none;
  }

  .input__field:not(:first-child),
  .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
