.input {
  text-align: left;

  &__label {
    color: $black;
    font-size: 16px;
    line-height: 24px;

    &--text-grey {
      color: $border-color;
    }

    &--hidden {
      position: absolute;

      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    &--required::before {
      margin-right: 5px;

      color: $red;

      content: "*";
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 50%;

    transform: translate(-50%, -50%);
    cursor: pointer;

    &--active {
      fill: $light-blue;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__field {
    width: 100%;

    font-size: 20px;
    line-height: 24px;

    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 10px;

    transition: all 0.5s;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    &:focus:not(&--invalid) {
      background-color: $blue-30;
      border-color: $blue;

      & + .input__icon {
        stroke: $blue;
      }
    }

    &--invalid {
      background-color: $red-5;
      border-color: $red;
    }

    &[disabled] {
      color: $black-30;

      background-color: $grey;
      cursor: not-allowed;
    }

    &--small {
      padding: 11px;
    }

    &--large {
      padding: 13px;
    }

    &--icon {
      padding-right: 54px;
    }
  }
}
