.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @include media-breakpoint-down(sm) {
    padding: 40px 10px 60px;
  }

  &__card {
    width: 100%;
    padding: 40px 88px 60px;

    text-align: center;
  }

  &__icon {
    margin-bottom: 26px;
  }

  &__form-group {
    margin-bottom: 40px;

    &:first-child {
      margin-bottom: 20px;
    }
  }
}
