.modal-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__modal {
    width: 510px;

    background-color: $white;
    border: 1px solid $light-border-color;
    border-radius: 10px;
  }
}
