.modal-favorites {
  &__form-group {
    margin-bottom: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
