@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  src: url("../assets/fonts/PTSans-Regular.ttf");
}
