$blue: #1390e5;
$blue-30: rgb(197 228 249 / 30%);
$light-blue-80: rgb(117 199 255 / 80%);
$white: #fff;
$grey: #fafafa;
$light-grey: #bebebe;
$dark-grey: #b9baba;
$black: #272727;
$black-50: rgb(37 37 37 / 50%);
$border-color: #d1d1d1;
$light-border-color: rgb(39 39 39 / 10%);
$line: #f1f1f1;
$red: #f00;
$red-5: rgb(240 0 0 / 5%);

$main-text-color: $black;
$main-bg-color: $grey;

$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  xl: 1100px,
);
