$blue: #1390e5;
$blue-30: rgb(197 228 249 / 30%);
$white: #fff;
$grey: #fafafa;
$light-grey: #bebebe;
$dark-grey: #b9baba;
$black: #272727;
$border-color: #d1d1d1;
$light-border-color: rgb(39 39 39 / 10%);

$main-text-color: $black;
$main-bg-color: $grey;
